/* Put all global, site-wide SCSS here */
/* Model-specific CSS should go into its own SCSS file. */
body {
    
}
.navbar {
  background: #CCC;
  
  transform: rotate(-1deg);
  margin-top: 10px;
}
.navbar h2 {
  border-radius: 10px;
}
